@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin-top: 160px;
} 

body {
    background-color: rgb(61, 33, 75);
}

h1 {
    font-family: Impact, sans-serif;
    font-weight: 550;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 100px;
    margin-bottom: 20px;
    text-shadow:
    -1px -1px 0 rgb(42, 6, 42),
     0   -1px 0 rgb(42, 6, 42),
     1px -1px 0 rgb(42, 6, 42),
     1px  0   0 rgb(42, 6, 42),
     1px  1px 0 rgb(42, 6, 42),
     0    1px 0 rgb(42, 6, 42),
    -1px  1px 0 rgb(42, 6, 42),
    -1px  0   0 rgb(42, 6, 42);
}

.try-again {
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 220px;
    height: 45px;
    font-size: 20px;
    font-family: Impact, sans-serif;
    color: thistle;
    border-color: rgb(255, 255, 255); 
    cursor: pointer;
    margin-top: 20px;
    letter-spacing: 1.5px;
}

.try-again:hover {
    background-color: rgb(108, 30, 108);
    color: white;
    transform: translateY(-2px); 
}

.valid-input {
    font-family: Impact, cursive;
    font-weight: 300;
    color: white;
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 15px;
}