@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #a799cf;
    overflow: hidden;
}

h1 {
    font-family: "Bitcount Grid Double", sans-serif;
    font-weight: 500;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 100px;
    text-shadow:
    -1px -1px 0 rgb(42, 6, 42),
     0   -1px 0 rgb(42, 6, 42),
     1px -1px 0 rgb(42, 6, 42),
     1px  0   0 rgb(42, 6, 42),
     1px  1px 0 rgb(42, 6, 42),
     0    1px 0 rgb(42, 6, 42),
    -1px  1px 0 rgb(42, 6, 42),
    -1px  0   0 rgb(42, 6, 42);
}