@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #a799cf;
    /* background-image: url("/static/images/physics-background.png"); */
}

.head-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    font-family: "Bitcount Grid Double", sans-serif;
    font-weight: 550;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 60px;
    gap: 0.5rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;     
    height: 100vh; 
}

input[type="submit"] {
    background-color: purple;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-family: "Bitcount Grid Double", sans-serif;
    color: thistle;
    border-color: rgb(42, 6, 42); 
    cursor: pointer;
} 

.bt1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

label[for="number"],
label[for="piece_length"] {
    font-family: "Press Start 2P", cursive;
    font-weight: 300;
    color: white;
    font-size: 18px;
}

input[type="text"] {
    width: 600px;
    height: 30px;
    font-size: 18.25px;
    font-family: "Press Start 2P", cursive;
    color: black;
    border-radius: 10px;
    border: none;
    color: purple;
    text-align: center;
    border-color: rgb(64, 23, 64);
}

.rules-button {
    background-color: purple;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    font-size: 17.5px;
    font-family: "Bitcount Grid Double", sans-serif;
    color: thistle;
    align-items: center;
    border-color: rgb(42, 6, 42);
    cursor: pointer;
    align-items: flex-end;
    position: static;
    margin-top: static;
}

.rules-button:hover, input[type="submit"]:hover{
    background-color: rgb(128, 0, 128);
    color: white;

}

.rules-button, h1, label[for="number"] {
    gap: 1rem;
}