@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    background-color: #a799cf;
    /* background-image: url("/static/images/physics-background.png"); */
}

.head-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

h1 {
    font-family: "Bitcount Grid Double", sans-serif;
    font-weight: 550;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 60px;
    margin-bottom: 20px;
}

h1, label[for="number"],
label[for="piece_length"]  {
  text-shadow:
    -1px -1px 0 rgb(42, 6, 42),
     0   -1px 0 rgb(42, 6, 42),
     1px -1px 0 rgb(42, 6, 42),
     1px  0   0 rgb(42, 6, 42),
     1px  1px 0 rgb(42, 6, 42),
     0    1px 0 rgb(42, 6, 42),
    -1px  1px 0 rgb(42, 6, 42),
    -1px  0   0 rgb(42, 6, 42);
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;     
    height: 100vh; 
}

input[type="submit"] {
    background-color: purple;
    border-radius: 10px;
    width: 220px;
    height: 40px;
    font-size: 20px;
    font-family: "Bitcount Grid Double", sans-serif;
    color: thistle;
    border-color: rgb(42, 6, 42); 
    cursor: pointer;
} 

.submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    letter-spacing: 1px;
}

label[for="number"],
label[for="piece_length"] {
    font-family: "Press Start 2P", cursive;
    font-weight: 300;
    color: white;
    font-size: 18px;
}

input[type="text"] {
    width: 600px;
    height: 30px;
    font-size: 18.25px;
    font-family: "Press Start 2P", cursive;
    color: black;
    border-radius: 10px;
    border: none;
    color: purple;
    text-align: center;
    border-color: rgb(64, 23, 64);
}

.rules-button {
    background-color: purple;
    border-radius: 10px;
    width: 100px;
    height: 27px;
    font-size: 17.5px;
    font-family: "Bitcount Grid Double", sans-serif;
    color: thistle;
    align-items: center;
    border-color: rgb(42, 6, 42);
    cursor: pointer;
    align-items: flex-end;
    margin-top: 10px;
    margin: 0;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.rules-button:hover, input[type="submit"]:hover{
    background-color: rgb(128, 0, 128);
    color: white;
    transform: translateY(-2px); 
    /* moves the button 2 pixels up */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* creates a shadow under the button */

}

.rules-button, h1, label[for="number"] {
    gap: 1rem;
}